  header{
    background-color: #0052cc;
    color: white;
    padding: 5px 20px; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    box-sizing: border-box;
}body{
    margin: 0;
    padding-top: 60px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}#logo{
    max-width: 100px;
    height: auto;
}.menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}.menu li{
    margin-left: 15px;
}.menu li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}@media(max-width:768px){.menu{
    display: none;
    flex-direction: column;
    background-color: #212224;
    position: absolute;
    top: 50px;
    right: 0;
    width: 140px;
}.menu li{
    margin: 10px 0;
    text-align: right;
    padding-right: 20px;
}.hamburger{
    display: block;
}#logo{max-width: 80px;height: 60px;}header{padding: 5px 10px;}
}