body{font-family: Arial,sans-serif;margin: 0;padding: 0;line-height: 1.6;background-color: #f9f9f9;}.container{max-width: 900px;margin: auto;padding: 20px;margin-top: 100px;}h2,h4{text-align: center;color: #2c3e50;}
.universite{background: #fff;margin: 20px 0;padding: 15px;border-radius: 8px;box-shadow: 0 2px 4px rgba(0, 0,0,0.1);}.universite h3{color: #2980b9;}ul{padding-left: 20px;}
#searchInput{width: 100%;padding: 10px;font-size: 16px;margin: 20px 0;border: 1px solid #ccc;border-radius: 6px;}a:hover{color: rgb(175, 175, 46);} @media(max-width:600px){.universite h3{font-size: 18px;}ul li{font-size: 14px;}
#searchInput{font-size: 14px;padding: 8px;}.container{margin-top: 60px;}}

#footer{background-color: #222;color: #eee;text-align: center;padding: 15px 10px;font-size: 14px;
margin-top: 40px;position: relative;bottom: 0;width: 100%;box-sizing: border-box;}#footer strong{color: #ffa500;}#footer a{color: #eee;}a:hover{color: #ffa500;}
